<footer>
  <div class="footer-container">
    <div class="navigation">
      <h3>NAVIGATION</h3>
      <a href="#">Home</a>
      <a href="#">About us</a>
      <a href="#">Our team</a>
      <a href="#">Donate now</a>
      <a href="#">Join us</a>
      <a href="#">Contact us</a>
    </div>
    <div class="logo">
      <a class="navbar-brand z-2" href="/listings"
        ><img
          src="../images/Life-Bridge-Logo.png"
          alt="lifeBridge-Logo"
          class="navbar-brand-img"
      /></a>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © LifeBridge 2025</p>
    <div class="bottom-link">
      <a href="#">Privacy</a> &nbsp; <a href="#">Terms and Conditions</a>
    </div>
  </div>
</footer>
