<% layout("layouts/boilerplate") %>
<body>
  <!-- Nav bar -->
  <div id="Aware">
    <h1>Organize an <br />Awarness Session</h1>
    <div class="imgtext">
      <p>
        Add a Take the first step to make a difference! Plan an Awareness
        Session in your college, office, or society to help others understand
        why blood donation is so important. Share its benefits, clear up common
        myths, and encourage people to donate. We’ll handle everything for you,
        making the process simple and smooth. Let’s work together to save lives
        and create awareness! subheading
      </p>
      <a href="#info-form"><button id="btn-aware">Request</button></a>
    </div>
  </div>

  <div class="info-sec">
    <div class="info-card">
      <div class="image"><img src="/images/donor2.jpg" id="pic" /></div>

      <div class="text-info">
        <h3>What is the purpose of Awareness Sessions on Blood Donation?</h3>
        <br />
        <p>
          Awareness sessions aim to highlight the importance of acknowledging
          the need for blood donation. These inclusive sessions cover various
          topics, including blood disorders, the challenges posed by blood
          scarcity, dispelling myths, sharing truths about blood donation, and
          promoting its benefits. Engaging activities like live performances,
          street plays, competitions, and webinars inspire and educate
          participants—especially first-timers—about the value of voluntary
          blood donation and motivate them to take action.
        </p>
      </div>
    </div>

    <div class="info-card">
      <div class="image">
        <img src="/images/donor1.jpg" id="pic" class="hidden-img" />
      </div>

      <div class="text-info">
        <h3>How Do We Make Awareness Events Engaging?</h3>
        <br />
        <p>
          We focus on creating vibrant and interactive events by partnering with
          schools, colleges, corporates, and local communities across India.
          Activities like fun quizzes, street plays (Nukkad Nataks),
          competitions, and expert-led discussions—both online and offline—keep
          the audience interested and informed. These efforts not only address
          doubts but also ensure the message of BloodConnect reaches more
          people, inspiring them to understand the importance of blood donation
          in an enjoyable and meaningful way.
        </p>
      </div>

      <div class="image">
        <img src="/images/donor1.jpg" id="pic" class="visible-img" />
      </div>
    </div>
  </div>

  <div id="info-form">
    <div class="orgcamp-img"></div>
    <div class="camp-form">
      <h1>Organize Camp</h1>
      <p>fill this form and a volunteer would be in touch with you soon</p>
      <form>
        <label for=""
          >Your Name<sup><i class="fa-solid fa-asterisk">:</i></sup></label
        >
        <br />
        <input placeholder="Your Name" id="" />
        <label for=""
          >Email Address<sup><i class="fa-solid fa-asterisk">:</i></sup></label
        >
        <br />
        <input placeholder="example@domain.com" id="" />
        <label for=""
          >Phone Number<sup><i class="fa-solid fa-asterisk">:</i></sup></label
        >
        <br />
        <input placeholder="9999xxxxxx" id="" />
        <label for=""
          >Address<sup><i class="fa-solid fa-asterisk">:</i></sup></label
        >
        <br />
        <input placeholder="Address" id="" />
        <label for=""
          >Organization Name<sup
            ><i class="fa-solid fa-asterisk">:</i></sup
          ></label
        >
        <br />
        <input placeholder="Organization Name" id="" />
        <br />
        <br />
        <button id="btn-submit" type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
